@font-face {
    font-family: avangard;
    src: url(./fonts/avantgard.ttf);
}

@font-face {
    font-family: avangardBold;
    src: url(./fonts/avantgard-bold.ttf);
}

@font-face {
    font-family: SK_Primo-Regular;
    src: url(./fonts/SK_Primo-Regular.ttf);
}