
.products {
    display: flex;
    overflow: hidden;
}

.products__list {
}

.owl-carousel__products {
}

.products__item {
    width: auto;
    height: calc(95vh - 30em);

}

.products__img {
    height: 100%;
    width: 100%;
}

.products__item-inner {
    padding: 0 5em;
}


.products__title {
    padding-top: 1em;
    font-size: 1.15em;
    line-height: 1.5em;
}

.owl-item {
    justify-content: center;
}

/*IPHONE 6-7-8 PLUS*/
@media (width: 414px) and (height: 736px) {
    .products__item {
        width: 35em;
        height: 50em;
    }
}

/*IPHONE 6-7-8 PLUS REVERSE*/
@media (max-width: 736px) and (height: 414px) {
    .products__item {
        width: 25em;
        height: 30em;
    }
}


/*IPHONE 6-7-8*/
@media (width: 375px) and (height: 667px) {
    .products__item {
        width: 30em;
        height: 40em;
    }
}

/*IPHONE 6-7-8 REVERSE*/
@media (width: 667px) and (height: 375px) {
    .products__item {
        width: 20em;
        height: 25em;
    }
}

/*IPHONE X*/
@media (width: 375px) and (height: 812px) {
    .products__item {
        width: 35em;
        height: 50em;
    }
}

/*IPHONE X REVERSE*/
@media (width: 812px) and (height: 375px) {
    .products__item {
        width: 20em;
        height: 25em;
    }
}

/*IPHONE X MAX*/
@media (width: 414px) and (height: 896px) {
    .products__item {
        width: 40em;
        height: 55em;
    }
}

/*IPHONE X  REVERSE*/
@media (width: 896px) and (height: 414px) {
    .products__item {
        width: 20em;
        height: 25em;
    }
}