.modal {
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: animationBottomToTop 1s ease-in-out;
}

.modal_theme_light {
    background-color: whitesmoke;

}

.modal__header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__close-btn {
    margin: .6em;
    border: none;
    cursor: pointer;
    font-size: 2em;
    background-color: inherit;
}

.modal__input {

}


/*    SEARCH-FORM */
.modal__search-form {
    display: flex;
    flex-direction: column;
    width: 24em;
}

.search-form__input {
    font-size: 1.2em;
}

.search-form__input-inner {
    padding: .5em;
}

.search-form__button {
    background-color: white;
    text-decoration: none;
    list-style: none;
    border: 1px solid black;
    font-size: 1.2em;
    cursor: pointer;
    width: 40%;
}

.search-form__button-inner {
    padding: 0.3em;
    margin: 1em auto 0 auto;
}

@media (max-width: 400px) {
    .modal__search-form {
        margin-left: 2.2em;
    }
}


/*  END  SEARCH-FORM */