.contact {
    display: flex;
    overflow-y: auto;
}

.info {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.info__block {
}

.info__wrapper {
    padding: 0 7em;
}

.info__block {
}

.info__block-flex-end {
    align-self: flex-end;
    width: 25%;
}

.info__block-flex-start {
    width: 25%;
}

.info__title {
}

.info__text {
    padding-top: 1em;
    line-height: 1.5em;
}

.info__icons {
}

.info__link {
}

.info__icon {
}


#map {
    width: 50vw;
    height: 100vh;
    align-self: flex-end;
    position: absolute;
    right: 0;
    top: -3.5em;
    z-index: 1;
}

.map_gray-theme {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 1000px) {
    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .info {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 75vh;
    }

    .info__block {
        width: 70%;
    }

    .info__block-flex-end {
        align-self: center;
    }

    .info__wrapper {
        padding: 0;
        margin: 0;
    }

    #map {
        position: static;
        align-self: center;
        width: 90vw;
    }
}