<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../template/css/index.css">

    <title>Header</title>
</head>
<body>
<header class="header">
    <img class="header__logo header__logo-inner" src="../../src/img/header/logo.svg" alt="">

    <h1 class="header__title header__inner">Стальное качество <br>для вашего комфорта</h1>
    <div class="header__icons">
        <div class="header__icon  header__icon-inner search">
            <img src="../../src/img/header/search_icon.svg" alt="" class="header__img">
        </div>

        <div class="header__icon drop-menu header__icon-inner">
            <img src="../../src/img/header/dropMenuBtn.svg" alt="" class="header__img">
        </div>
    </div>


    <div class="header__phone-link header__phone-link-inner">
        <img src="../../src/img/header/plusTelephone.svg" alt="" class="header__img">
        <a href="" class="header__link">7[969] <br>
            0779988</a>
    </div>

</header>
<main class="main">
    <div class="main__icons main__outer">
        <div class="main__icon main__inner">
            <img src="../../src/img/main/product.svg" alt="" class="main__svg">
        </div>
        <div class="main__icon main__inner">
            <img src="../../src/img/main/setting.svg" alt="" class="main__svg">
        </div>
        <div class="main__icon main__inner">
            <img src="../../src/img/main/install.svg" alt="" class="main__svg">
        </div>
    </div>
</main>
<footer class="footer">
    <div class="callback callback__inner callback_theme_dark">
        <h1 class="callback__title">Обратный звонок</h1>
        <svg alt="Кнопка обратного звонка заказать обратный звонок" class="callback__img callback__img-inner"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
             id="mdi-bell-ring-outline" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10,21H14A2,2 0 0,1 12,23A2,2 0 0,1 10,21M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M17,11A5,5 0 0,0 12,6A5,5 0 0,0 7,11V18H17V11M19.75,3.19L18.33,4.61C20.04,6.3 21,8.6 21,11H23C23,8.07 21.84,5.25 19.75,3.19M1,11H3C3,8.6 3.96,6.3 5.67,4.61L4.25,3.19C2.16,5.25 1,8.07 1,11Z"/>
        </svg>
    </div>
    <nav class="navigation">
        <ul class="nav-list owl-carousel__footer nav-list_theme_light">
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link ">
                    продукция
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    комплектующие
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    о компании
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    услуги
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    стоимость
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    проекты
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    контакты
                </a>
            </li>
        </ul>
    </nav>
</footer>
<script src="../../template/js/jquery-3.5.0.min.js"></script>
<script src="../../template/js/owl.carousel.min.js"></script>
<script src="../../template/js/index.js"></script>
</body>
</html>