
.footer {
    position: fixed;
    background-color: black;
    flex: 0 0 auto;
    z-index: 2;
    bottom: 0;
    max-width: 100%;
}

.footer__wrapper {
    /*position: relative;*/
}

.footer__inner {
    padding: .5em;
}

.navigation {
    position: relative;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list_theme_modal {
    flex-direction: column;
    text-align: center;
    font-size: 8px;
    line-height: 6.5em;
}

.nav-list__item {
}

.nav-list__link {
    z-index: 999;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.4em;
    color: inherit;
    white-space: nowrap;
}

.nav-list_theme_light {
    color: white;
}

.nav-list_theme_dark {
    color: black;
}

.owl-stage {
    display: flex !important;
    flex-direction: row !important;
}

.owl-item {
    display: flex;
    flex-direction: row;
}


.callback {
    position: absolute;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    top: -50px;
    right: 0;
    align-items: center;
}

.callback__inner {
    padding: .5em;
    margin: 0 2.2rem 2.2rem 0;
}

.callback_theme_dark {
    background-color: black;
    color: white;
}

.callback_theme_light {
    background-color: white;
    color: black;
}

.callback__title {
}

.callback__img {
    fill: white;
}

.callback__img-inner {
    margin-left: 0.5em;
}

/* PAGINATION */


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4em 0;
    font-size: 1.5em;
}

.pagination li {
    padding: 0 1em 1em 1em;
}

.pagination li.active {
    border-bottom: 1px solid black;
}

.pagination li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 999px) {
    .footer {
        display: none;
    }
}

@keyframes icon-bell {
    0% {
        transform: rotate(-15deg);
    }
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-18deg);
    }
    30% {
        transform: rotate(18deg);
    }
    40% {
        transform: rotate(-22deg);
    }
    50% {
        transform: rotate(22deg);
    }
    60% {
        transform: rotate(-18deg);
    }
    70% {
        transform: rotate(18deg);
    }
    80% {
        transform: rotate(-12deg);
    }
    90% {
        transform: rotate(12deg);
    }
    100% {
        transform: rotate(0deg);
    }
}