/* ANIMATION */

@keyframes animationBottomToTop {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}


@keyframes animationTopToBottom {
    from {
        top: 0;
    }
    to {
        top: 100vh;
    }
}

/* END ANIMATION */