@import "./Reset.css";
@import "./fonts.css";
@import "./Modal.css";
@import "./Animation.css";
@import "./header/style.css";
@import "./footer/style.css";
@import "./main/style.css";
@import "./products/style.css";
@import "./contact/style.css";