@import "./Reset.css";
@import "./fonts.css";
@import "./Modal.css";
@import "./Animation.css";
@import './mixin.css';
@import "owl.carousel.min.css";
@import "glightbox.min.css";
@import "./header/style.css";
@import "./footer/style.css";
@import "./main/style.css";
@import "./products/style.css";
@import "./contact/style.css";
@import "./product/style.css";
@import "catalog/style.css";
