
html, body {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 16px;
    font-family: SK_Primo-Regular, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
}

.header__inner {
    padding: 1em 0;
}

.header__logo {
    display: none;
    z-index: 11;
    width: 3em;
    height: 15em;
    cursor: pointer;
}

.header__logo-inner {
    padding: 2.2em;
}

.header__title {
    display: none;
    font-size: 2.1em;
    line-height: 1.1em;
    width: max-content;
}

.header__phone-link {
    display: flex;
    flex-direction: row;
    line-height: 1.1em;
}

.header__phone-link-inner {
    padding: 2.2em 2.2em 2.2em 0;
}

.header__icons {
    display: flex;
    margin: 0 0 0 auto;
}

.header__icon {
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
}


.header__icon-inner {
    padding: 2.2em 2.2em 2.2em 0;
}

.header__img {
    width: 2.5em;
    align-self: start;
    cursor: pointer;
}

.header__link-img {
    width: 1em;
}

.header__link {
    font-size: 2.4em;
    text-decoration: none;
    line-height: 1.1em;
    color: black;
}

.search {
}


.drop-menu {
    display: none;
}


@media (max-width: 999px) {
    html, body {
        font-size: 9px;
    }

    .header__phone-link {
        display: none;
    }

    .drop-menu {
        display: flex;
    }
}

/*

preloader
*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: white;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

@media (max-width: 1650px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 1440px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 1366px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 500px) or (max-height: 600px) {
    body {
        font-size: 9px;
    }
}


/*IPHONE 6-7-8 PLUS REVERSE*/
@media (max-width: 736px) and (max-height: 414px) {
    body {
        font-size: 7px;
    }
}


/*IPHONE 6-7-8 REVERSE*/
@media (max-width: 667px) and (max-height: 375px) {
    body {
        font-size: 7px;
    }
}

/*IPHONE X MAX REVERSE*/
@media (max-width: 896px) and (max-height: 414px) {
    body {
        font-size: 8px;
    }
}