<footer class="footer">
    <nav class="navigation">
        <ul class="nav-list owl-carousel__footer nav-list_theme_light">
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link ">
                    продукция
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    комплектующие
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    о компании
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    услуги
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    стоимость
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    проекты
                </a>
            </li>
            <li class="nav-list__item footer__inner">
                <a href="#" class="nav-list__link">
                    контакты
                </a>
            </li>
        </ul>
    </nav>
</footer>
<script src="../../src/js/jquery-3.5.0.min.js"></script>
<script src="../../src/js/owl.carousel.min.js"></script>
</body>
</html>