
.footer {
    background-color: black;
    flex: 0 0 auto;
}

.footer__inner {
    padding: .5em;
}

.navigation {
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list_theme_modal {
    flex-direction: column;
    text-align: center;
    font-size: 8px;
    line-height: 6.5em;
}

.nav-list__item {
}

.nav-list__link {
    z-index: 999;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.4em;
    color: inherit;
    white-space: nowrap;
}

.nav-list_theme_light {
    color: white;
}

.nav-list_theme_dark {
    color: black;
}

.owl-stage {
    display: flex !important;
    flex-direction: row !important;
}

.owl-item {
    display: flex;
    flex-direction: row;
}

@media (max-width: 999px) {
    .footer {
        display: none;
    }
}