
html, body {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 16px;
    font-family: SK_Primo-Regular, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
}

.header__inner {
    padding: 2.2rem 0;
}

.header__logo {
    z-index: 11;
    width: 3em;
    height: 15em;
    cursor: pointer;
}

.header__logo-inner {
    padding: 2.2em;
}

.header__title {
    font-size: 2.4em;
    line-height: 1.1em;
    width: max-content;
}

.header__phone-link {
    display: flex;
    flex-direction: row;
    line-height: 1.1em;
}

.header__phone-link-inner {
    padding: 2.2rem 2.2rem 2.2rem 0;
}

.header__icons {
    display: flex;
    margin: 0 0 0 auto;
}

.header__icon {
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
}


.header__icon-inner {
    padding: 2.2em 2.2em 2.2em 0;
}

.header__img {
    width: 2.5rem;
    align-self: start;
    cursor: pointer;
}

.header__link {
    font-size: 2.4em;
    text-decoration: none;
    line-height: 1.1em;
    color: black;
}

.search {
}


.drop-menu {
    display: none;
}


@media (max-width: 999px) {
    html, body {
        font-size: 9px;
    }

    .header__phone-link {
        display: none;
    }

    .drop-menu {
        display: flex;
    }
}